{
  "plex": {
    "url": "",
    "port": 32400,
    "token": ""
  },
  "filters": {
    "lanOnly": false,
    "users": [],
    "players": []
  },
  "lastfm": {
    "username": "",
    "apiKey": "",
    "apiSecret": "",
    "sessionKey": ""
  },
  "display": {
    "showControlsTimeout": 4000,
    "screenAlwaysOn": false,
    "screenSleepMinutes": 5,
    "enableLastfmIdle": true
  },
  "users": {
    "configPassword": null
  }
}
